<div class="all-wrapper menu-side with-pattern" style="padding:5%;">
    <div class="auth-box-w element-box text-center">
       <div>
          <a href="index.html">
          <img src="assets/img/logos/logo_original.svg">
          </a>
       </div>
 
       <div *ngIf="showReset == false; else mostrarReset">
       <h4 class="text-center">Iniciar sesión</h4>
       <hr>
       <form [formGroup]="formulario" (ngSubmit)="loginEfos()">
       <div class="form-group" [ngClass]="{'has-error has-danger': !formulario?.controls?.username?.valid && formulario?.controls?.username?.dirty && submited }">
          <label for="">Usuario</label>
          <input formControlName="username" class="form-control" placeholder="Ingresa tu usuario" type="text" required>
          <div class="pre-icon os-icon os-icon-user-male-circle"></div>
       </div>
       <div class="help-block form-text with-errors form-control-feedback" *ngIf="!formulario?.controls?.username?.valid && submited">
          <ul class="list-unstyled">
             <li>El campo usuario es requerido. </li>
          </ul>
       </div>
       <!-- <div class="form-group" [ngClass]="{'has-error has-danger': !formulario?.controls?.password?.valid && formulario?.controls?.password?.dirty && submited }"> -->
         <div class="form-group">
         <label for="">Contraseña</label>
          <!-- <div class="input-group">
             <input formControlName="password" class="form-control" placeholder="Ingresa tu contraseña" type="password" required>
          </div> -->
 
          <div class="input-group">
            <input formControlName="password" class="form-control" placeholder="Ingresa tu contraseña" type="password" id="passwordinput" required>
             <div class="input-group-prepend" >
               <button type="button" name="button" class="btn btn-danger" (click)="mostrarPassword()"><i id="etiqueta-ojo" class="fa fa-eye-slash" ></i></button>
             </div>
          </div>
 
          <div class="pre-icon os-icon os-icon-fingerprint"></div>
       </div>
       <div class="help-block form-text with-errors form-control-feedback" *ngIf="!formulario?.controls?.password?.valid && submited">
          <ul class="list-unstyled">
             <li>El campo contraseña es requerido </li>
          </ul>
       </div>
       <p *ngIf="restablecer"><a (click)="mostrarMenuReset()" href="javascript:void(0)">¿Olvido su contraseña?</a></p>
       <div class="buttons-w">
          <div class="row text-center" >
             <div class="col-sm-12">
                <button class="btn btn-danger" style="width:134px;" type="submit"> INGRESAR </button>
             </div>
          </div>
          <div class="row text-center" style="padding-top: 20px;">
             <div class="col-sm-12">
                <div class="form-check-inline" style="margin-top:10px">
                   <p>¿Aún no tienes cuenta? <a  (click)="irRegistro()" href="javascript:void(0)">Regístrate</a></p>
                </div>
             </div>
          </div>
       </div>
       </form>
    </div>
 
    <!-- RESTABLECER CONTRASEÑA -->
 
    <ng-template #mostrarReset>
       <h4 class="text-center">¿Olvido su contraseña?</h4>
       <hr>
       <!--<form [formGroup]="formularioReset" (ngSubmit)="enviarEmailReset()"> -->
         <form [formGroup]="formularioReset">
       <p class="text-justify">Para restablecer su contraseña ingrese el correo electrónico con el que se registró en ELECTRO<strong>EFOS</strong>, Le enviaremos un mail con las instrucciones.</p>
       <div class="form-group" [ngClass]="{'has-error has-danger': !formularioReset?.controls?.mail?.valid && formularioReset?.controls?.mail?.dirty && submited }">
          <label for="">Correo electrónico</label>
          <input formControlName="mail" class="form-control" placeholder="Ingrese el correo electrónico"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="text" required>
          <div class="pre-icon os-icon os-icon-email-2-at2"></div>
       </div>
       <div class="form-text text-danger msg-error" *ngIf="formularioReset.value.mail == ''">
       El campo Correo electrónico es requerido.
     </div>
       <div class="form-text text-danger msg-error" *ngIf="formularioReset?.controls?.mail?.errors?.pattern">
       El correo electrónico no es valido.
     </div>
       <div class="buttons-w">
          <div class="row text-center" >
             <div class="col-sm-12">
                <button class="btn btn-primary" style="width:134px;" type="submit" [disabled]="formularioReset.valid == false"> ENVIAR </button>
             </div>
          </div>
          <div class="row text-center" style="padding-top: 20px;">
             <div class="col-sm-12">
                <div class="form-check-inline" style="margin-top:10px">
                   <p><a  (click)="mostrarMenuReset()" href="javascript:void(0)">Regresar al login</a></p>
                </div>
             </div>
          </div>
       </div>
       </form>
    </ng-template>
 
 </div>
 
 </div>
 
