<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ID</td>
      <th scope="row">{{data.id}}</th>
    </tr>
    <tr>
      <td>Nombre</td>
      <th scope="row">{{data.nombre}}</th>
    </tr>
    <tr>
      <td>Telefono</td>
      <th scope="row">{{data.telefono}}</th>
    </tr>
    <tr>
      <td>Telefono 2</td>
      <th scope="row">{{data.telefono2}}</th>
    </tr>
    <tr>
      <td>Dirección</td>
      <th scope="row">{{data.direccion}}</th>
    </tr>
  </tbody>
</table>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>