<div class="wrapper">

    <div class="menu-btn">
      <div class="btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div class="icons-wrapper">
      <div class="icons">
        <div class="icon" matTooltip="Entradas" ><fa-icon [icon]="faLocationArrow" class="fa" ></fa-icon></div>
        <div class="icon" matTooltip="Inventario"><fa-icon [icon]="faBoxes" class="fa" ></fa-icon></div>
        <div class="icon" matTooltip="Pedidos"><fa-icon [icon]="faCartArrowDown" class="fa" ></fa-icon></div>
        <div class="icon" matTooltip="Surtido"><fa-icon [icon]="faShoppingCart" class="fa" ></fa-icon></div>
<!--         <div class="icon"><fa-icon [icon]="faDollyFlatbed" class="fa" ></fa-icon></div> -->
        <div class="icon" matTooltip="Embarques"><fa-icon [icon]="faTruck" class="fa" ></fa-icon></div>
        <div class="icon" matTooltip="Entregados"><fa-icon [icon]="faHandshake" class="fa" ></fa-icon></div>
        <div class="icon" matTooltip="Recolección"><fa-icon [icon]="faTruckLoading" class="fa" ></fa-icon></div>
        <div class="icon" matTooltip="Retornado"><fa-icon [icon]="faRedoAlt" class="fa" ></fa-icon></div>
<!--         <div class="icon"><fa-icon [icon]="faTruckLoading" class="fa" ></fa-icon></div>
        <div class="icon"><fa-icon [icon]="faRedoAlt" class="fa" ></fa-icon></div> -->
      </div>
    </div>
  
  </div>
